[Unit]
Description={{ pretix_cron_systemd_timer_description }}

[Timer]
OnActiveSec={{ pretix_cron_systemd_timer_on_active_sec }}
OnStartupSec={{ pretix_cron_systemd_timer_on_startup_sec }}
AccuracySec={{ pretix_cron_systemd_timer_accuracy_sec }}

[Install]
WantedBy=timers.target
